<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ChatApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        <a class="nav-link" routerLink="employees">Employees</a>
        <a class="nav-link" routerLink="employees/add">Add New Employee</a>
       
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
